{% extends 'navigation.html' %}

{% block content %}
<form action="/c" method="post">
{% if test_id %}
<input type="hidden" name="id" value="{{ test_id }}">
{% endif %}


<label for="title">Test Title</label><br/>
<input id="title" type="text" name="title" value="{{ title }}" required></input>

<br/>

<label for="group">Group</label><br/>
<select id="group" name="group" required>
    <option value="{{ group }}">{{ group|capfirst }}</option>
    <option value="python">Python</option>
    <option value="javascript">JavaScript</option>
</select>

<br/>
<br/>

<label for="description">What is is that needs to be completed?</label><br/>
<textarea id="description" name="description" required>{{ description }}</textarea>

<br/>
<br/>

<button type="submit">Submit Button</button>
</form>

<script type="text/javascript">
// Setting values into the form fields for existing Tests
document.getElementById('id').value = "{{ id }}";
document.getElementById('title').value = "{{ title }}";
document.getElementById('group').value = "{{ group }}";
document.getElementById('description').value = "{{ description }}";
</script>

{% endblock content %}