{% extends 'navigation.html' %}

{% block content %}
<form action="/c" method="post">
{% if test_id %}
<input type="hidden" name="id" value="{{ test_id }}">
{% endif %}

{% if error %}
<div class="notice error"><p>{{ error }}</p></div>
{% endif %}

<label for="title">Challenge Title</label><br/>
<input id="title" type="text" name="title" value="{{ title }}" required />

<br/>

<label for="group">Category</label><br/>
<select id="group" name="group" required  onChange="changeGroup();">
    <option value="{{ group }}">{{ group|title }}</option>
    {% for group in user_groups %}
    <option value="{{ group }}">{{ group|title }}</option>
    {% endfor %}
</select><a onClick="createGroup()"> Add New Category</a>

<br/>

<label for="level">Level</label><br/>
<select id="level" name="level" required>
    {% if level %}
    <option value="{{ level }}">{{ level|title }}</option>
    {% else %}
    <option value="1"></option>
    {% endif %}
</select>

<br/>
<label for="description">What is it that needs to be completed?</label><br/>
<textarea id="description" name="description" required>{{ description }}</textarea>

<br/>
<br/>

<button type="submit">Submit Button</button>
</form>

<script type="text/javascript">
// Setting values into the form fields for existing Tests
if ("{{ id }}" != "") {
    document.getElementById('id').value = "{{ id }}";
    document.getElementById('title').value = "{{ title }}";
    document.getElementById('group').value = "{{ group }}";
    document.getElementById('description').value = "{{ description }}";
}

function createGroup(){
    var group_select = document.getElementById("group");
    var group_name = prompt('What group would you like to add?').toLowerCase();
    var re  =  new RegExp("^[a-z0-9_]{2,16}$");
    if (group_name.search(re)!=-1){
        group_select.options[group_select.options.length] = new Option(group_name, group_name.toLowerCase());
        group_select.value = group_name.toLowerCase()
    } else {
    alert("Category names must only use lowercase letters, numbers and underscores.");
    }
    changeGroup()
}

function changeGroup(){
    var group_select = document.getElementById("group");
    var userLevels = JSON.parse('{{user_levels}}'.replace(/&quot;/g,'"'));
    var level_select = document.getElementById("level");
    var level = 1;
    for (i = 0; i < userLevels.length; i++){
        if (userLevels[i].group == group_select.value) {
             level = userLevels[i].level
        }
    }
    var saved_value = level_select.value;
    for (i = 0; i < level_select.length; i++) {
      level_select.options[i] = null;
    }
    for ( i = 0; i < level; i++){
        level_select.options[i] = new Option(i+1, i+1);
    }
    level_select.value = 1
}
</script>

{% endblock content %}
