<section id="{{ mark_id }}">
    <aside style="float:right;">
        <p>You responded to this test {{ mark_created|timesince:date }} ago.</p>
        <p>This mark was last edited {{ mark_modified|timesince:date }} ago.</p>
    </aside>
    <h5>Your response has been marked</h5>
    <p>Response from test author:<br/>{{ comment|linebreaks }}</p>
    <p>Your score is <strong>{{ mark }}</strong>/5.</p>
    {% if not rated %}
    <form action="/r" method="POST">
        <fieldset><legend>Rate This Test</legend>
        <input type="hidden" name="mark_id" value="{{ mark_id }}">
        <input type="hidden" name="test_level" value="{{ level }}">
        <select name="rating">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button type="submit">Rate</button>
        </fieldset>
    </form>
    {% endif %}
</section>