{% extends 'header.html' %}

{% block navigation %}
<ul class="menu">
	<li class="current"><a href="{{ nav_urls.home }}">Home</a></li>
	<li><a href=""><i class="icon-list"></i> Tests</a>
	{% if user %}
		<ul>
			<li><a href="{{ nav_urls.profile }}"><i class="icon-cog"></i> My Tests</a></li>
			<li><a href="{{ nav_urls.create_test }}"><i class="icon-cog"></i> Create New Test</a></li>
		</ul></li>
		<li ><a href="{{ nav_urls.logout }}"><i class="icon-trash"></i> Logout</a></li>
	{% else %}
		<li ><a href="{{ nav_urls.login }}"><i class="icon-trash"></i> Login</a></li>
	{% endif %}
</ul>

{% endblock navigation %}