{% extends 'header.html' %}

{% block navigation %}

<nav>
<ul>
{% if user %}
	<h2>{{ user }}:{{ user_id }}</h2>
{% endif %}
    <li><a href="{{ nav_urls.home }}">Home</a></li>	
{% if user %}
    <li><a href="{{ nav_urls.profile }}">My Tests</a></li>
	<li><a href="{{ nav_urls.create_test }}">Create New Test</a></li>
    <li><a href="{{ nav_urls.logout }}">Logout</a></li>
{% else %}
    <li><a href="{{ nav_urls.login }}">Login</a></li>
{% endif %}
</ul>
</nav>
{% endblock navigation %}