{% extends 'navigation.html' %}

{% block content %}

<section class="col_5" style="float:right;">
<img src="{{ gravatar }}" alt="Your Gravatar" style="float:left;"/>
<h2>&nbsp;{{ name }}</h2>
{% if bio %}<p>{{ bio }}</p>{% endif %}
{% if grouped_marks %}
<table style="margin: 6px;">
    <thead><tr><th>test Group</th><th>Total Score</th><th>Level</th><th>Progress</th></tr></thead>
	<tbody>
        {% for group in grouped_marks %}
        <tr><td>{{ group.name }}</td>
        <td>{{ group.total_score }} from {{ group.tests_taken }} test{{ group.tests_taken|pluralize }}</td>
        <td>{{ group.level|floatformat:"0" }}</td>
        <td><meter id='level_progress' max='100' min="0" value={{ group.level_progress }}>{{ group.level_progress|floatformat:"-2" }}%</meter></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<table style="margin: 6px;">
    <thead><tr>
        <th>Tests Created</th>
        <th>Tests Completed</th>
        <th>Tests In-Progress</th>
    </tr></thead>
    <tbody><tr>
        <td>{{ created_tests.tests|length }}</td>
        <td>{{ completed.marks|length }}</td>
        <td>{{ in_progress.marks|length }}</td>
    </tr></tbody>
</table>
<p>Member since: {{ created }}</p>
</section>

{% if created_tests.tests|length > 0 %}
<section class="col_7" >
	<header><h3>Created Tests</h3></header>
	{% for test in created_tests.tests %}
		<div class="test-preview{%if this_user and test.num_marked != test.times_taken %} new-to-be-marked{% endif %}"> 
            <div>{% include "test.html" %}</div>
            {% if this_user %}
                <ul class="button-bar">
                    <li><a href="{{ nav_urls.create_test }}/{{ test.id }}" class="button">Edit</a></li>
                {% if test.open %}
                    <li><a href="{{ nav_urls.tests }}/{{ test.id }}/f" class="button">Close Test</a></li>
                {% else %}
                    <li><a href="{{ nav_urls.tests }}/{{ test.id }}/t" class="button">Open Test</a></li>
                {% endif %}
                </ul>
            {% endif %}
		</div>
    {% empty %}
        <p>No tests have been created.</p>
	{% endfor %}
    {% if created_tests.next and created_tests.more %}
        <a href="?next_created={{ created_tests.next }}">See more...</a>
    {% endif %}
</section>
{% endif %}

{% if this_user %}
    <section class="col_7" >
        <header><h3>In-Progress Tests</h3></header>
        {% for mark in in_progress.marks %}
        <div class="test-preview"> 
            {% with mark.test as test %}
            {% include "test.html" %}
            {% endwith %}
        </div>
        {% empty %}
            {% if not completed|length > 0 %}
                <p>All tests have been marked.</p>
            {% else %}
                <p>No tests have been taken.</p>
            {% endif %}
        {% endfor %}
        {% if in_progress.next and in_progress.more %}
            <a href="?next_in_progress={{ in_progress.next }}">See more...</a>
        {% endif %}
    </section>

    <section class="col_7" >
        <header><h3>Completed Tests</h3></header>
        {% for mark in completed.marks %}
            <section class="test-preview">
            {% with mark.test as test %}
            {% include "test.html" %}
            {% endwith %}
            </section>
        {% empty %}
            {% if not in_progress|length > 0 %}
            <p>None of the taken tests have been marked yet.</p>
            {% else %}
            <p>No tests have been taken.</p>
            {% endif %}
        {% endfor %}
        {% if completed.next and completed.more %}
            <a href="?next_completed={{ completed.next }}">See more...</a>
        {% endif %}
    </section>
{% else %}
    {% if in_progress.marks|length > 0 or completed.marks|length > 0 %}
    <section class="col_7" >
        <header><h3>Recently Completed Tests</h3></header>
        <ul>
        {% for mark in in_progress.marks %}
            <li>{{ mark.test.title }}</li>
        {% endfor %}
        {% for mark in completed.marks %}
            <li>{{ mark.test.title }}</li>
        {% endfor %}
        </ul>
    </section>
    {% endif %}
{% endif %}
{% endblock content %}