{% extends 'navigation.html' %}

{% block content %}

{% include 'tests.html' %}

<section>
<table border="1" style="float:left; margin: 6px;">
	<thead><tr><th colspan="2">{{ name }}'s Profile</th></tr></thead>
	<tbody>
		<tr><td>ID</td><td>{{ id }}</td></tr>
		<tr><td>Display Name</td><td>{{ name }}</td></tr>
		<tr><td>Member Since</td><td>{{ created }}</td></tr>
		<tr><td>Biography</td><td>{{ bio }}</td></tr>
		<tr><td>Tests Created</td><td>{{ my_tests_cnt }}</td></tr>
		<tr><td>Tests Completed</td><td>{{ completed_cnt }}</td></tr>
		<tr><td>Tests In-Progress</td><td>{{ in_progress_cnt }}</td></tr>
		<tr><td>Last Updated</td><td>{{ modified }}</td></tr>
	</tbody>
</table>
</section>



{% endblock content %}