{% extends 'navigation.html' %}

{% block content %}

<form action="/register" method="post">
    {% if error %}
    <div class="notice error"><p>{{ error }}</p></div>
    {% endif %}
    <label for="display_name">You must select a username:</label>
    <input type="text" id="display_name" name="display_name" required{% if user_name %} disabled{% endif %}/>
    <br/>
    <label for="bio">Please provide some information about yourself to the community:</label>
    <textarea name="bio" id="bio"></textarea>
    <button type="submit">Submit Button</button>
</form>

<script type="text/javascript">
// Setting values into the form fields for existing Tests
document.getElementById('bio').value = "{{ bio }}";
document.getElementById('display_name').value = "{{ user_name }}";
</script>

{% endblock content %}