
<table>
    <thead>
        <tr><th colspan=3><h4>Statistics</h4></th></tr>
        <tr><th colspan=2></th><th>Rank</th></tr>
    </thead>
    <tbody>
        <tr><td>Number of Tests Taken</td>  <td>1</td>      <td>1</td></tr>
        <tr><td>Average (Mean) Mark</td>    <td>5.685</td>  <td>1</td></tr>
        <tr><td>Average (Median) Mark</td>  <td>6</td>      <td>1</td></tr>
        <tr><td>Average (Mode) Mark</td>    <td>5</td>      <td>1</td></tr>
        <tr><td>Test Rating</td>            <td>3.4/5</td>  <td>1</td></tr>
    </tbody>
</table>