{% if my_tests %}
<section class="col_6" >
	<header><h3>My Tests</h3></header>
	{% for test in my_tests %}
		<div class="test-preview"> 
		{% include "test.html" %}
        <a href="{{ nav_urls.create_test }}/{{ test.id }}" class="button">Edit</a>
        {% if test.open %}
            <a href="{{ nav_urls.tests }}/{{ test.id }}/f" class="button">Close Test</a>
        {% else %}
            <a href="{{ nav_urls.tests }}/{{ test.id }}/t" class="button">Open Test</a>
        {% endif %}
		</div>
	{% endfor %}
</section>
{% endif %}

{% if in_progress %}
<section class="col_6" >
	<header><h3>In-Progress Tests</h3></header>
	{% for test in in_progress %}
	<div class="test-preview"> 
		{% include "test.html" %}
	</div>
	{% endfor %}
</section>
{% endif %}

{% if completed %}
<section class="col_6" >
	<header><h3>Completed Tests</h3></header>
	{% for test in completed %}
		<section class="test-preview"> 
		{% include "test.html" %}
		</section>
	{% endfor %}
</section>
{% endif %}