{% extends 'navigation.html' %}

{% block content %}
<section class="col_7">
	<header style="overflow:auto;"><h1>{{ title }}</h1></header>
	<aside>
		<h6>{{ test_id }} - {{ group }}</h2>
		<h6>Last Created: {{ test_created }} -- Last Modified: {{ test_modified }}</h6>
	</aside>
	<p style="clear:both;">{{ description|linebreaks }}</p>

	<form action="/t" method="POST">
        <input type="hidden" name="test_id" value="{{ test_id }}" />
        <input type="hidden" name="author_id" value="{{ author_id }}" />
        <input type="hidden" name="mark_id" value="{{ mark_id }}" />
        {% if locked %}
        <div class="notice warning">
            <p>You are unable to take this test because 
            {% if visitor %}
                you must be signed in to complete tests.</p>
            {% else %}
                {% if is_test_marker %}
                you are the creator of this test</p>
                {% else %}
                you recently created or modified this answer, and will have to wait a while before altering it again.</p>
                {% endif %}
            {% endif %}
        </div>
        {% endif %}
        
        <textarea id="response" name="response" {% if current_user == author_id or locked %}disabled{% endif %} >{% if response %}{{ response }}{% endif %}</textarea>
		<button type="submit" {% if current_user == author_id or locked %}disabled{% endif %}>Submit Button</button>
	</form>
</section>

<section class="col_5">
{% include "test_stats.html" %}
{% if is_test_marker %}
		<h1>This human is the marker of these tests</h1>
		<p>You have {{ to_be_marked_cnt }} answer{{ to_be_marked_cnt|pluralize }} waiting to be marked for this test.</p>
	</section>
	<section class="col_12">
	
	{% if to_be_marked %}
		<header><h3>{{ to_be_marked_cnt }} Responses Waiting for Marking...</h3></header>
		<p> {{ to_be_marked|length }} </p>
		{% for mark in to_be_marked %}
			<div>
			{% include "mark_detail.html" %}
			</div>
		{% endfor %}
		
	{% endif %}
	</section>

{% else %}
	{% if mark_id %}
		{% include "mark.html" %}
	{% else %}
		<pre>
		<h2>All Values</h2>
		<strong>Mark:</strong>
		  Mark ID : {{ mark_id }}
		  Complete: {{ complete }}
		  Comment : {{ comment }}
		  Mark    : {{ mark }}
		  Mark Cre: {{ mark_created }}
		  Mark Mod: {{ mark_modified }}
		<strong>Test:</strong>
		  Test ID : {{ test_id }}
		  Title   : {{ title }}
		  Contents: {{ description }}
		  Group   : {{ group }}
		  Test Cre: {{ test_created }}
		  Test Mod: {{ test_modified }}
		<strong>Entity:</strong>
		  Marker  : {{ name }}
		</pre>
	{% endif %}
{% endif %}
</section>

{% endblock content %}