{% extends 'footer.html' %}

{% block content %}

<header><h1>{{ title }}</h1></header>
<aside>
	<h2>{{ group }}</h2>
	<h4>Last Created: {{ test_created }}</h4>
	<h4>Last Modified: {{ test_modified }}</h4>
	<h6>{{ test_id }}</h6>
</aside>
<p>{{ description }}</p>

<form action="/t" method="POST">
<input type="hidden" name="test_id" value="{{ test_id }}" />
<input type="hidden" name="author_id" value="{{ author_id }}" />
<textarea id="response" name="response" {% if id == author_id or locked %}disabled{% endif %} >{% if response and not locked %}{{ response }}{% endif %}{% if response and locked %}You recently created or modified this answer, and will have to wait a while before altering it again. Your response was:

{{ response }}{% endif %}{% if id == author_id %}You can't answer your own Test{% endif %}
</textarea>
<button type="submit" {% if id == author_id or locked %}disabled{% endif %}>Submit Button</button>
</form>
{% endblock content %}